body {
  text-align: center;
  font-family: Arial;
}

#array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 400px;
  border: 1px solid black; /* helps you see container */
}

.bar {
  width: 5px;
  margin: 1px;
  background: blue;
}

                                                              
